.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // 공간을 균등하게 분배
  align-items: center; // 중앙 정렬
  padding-bottom: 3vh;
  height: 20vh;
}

.line {
  position: relative; // z-index를 사용하기 위해 position 설정
  z-index: 1; // 다른 요소보다 위에 표시
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 10px 0;
  width: 100%;
}

.textContainer {
  margin-top: auto;
  text-align: center;
}

.designedBy {
  font-size: 16px;
  margin: 0;
  color: #909090;
}

.handle {
  font-size: 16px;
  margin: 0;
  color: #575757;
}
