.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3vh;
  // height: 20vh;
}

.line {
  position: relative;
  z-index: 1;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 10px 0;
  width: 100%;
}

.textContainer {
  margin-top: auto;
  text-align: center;
}

.designedBy {
  font-size: 16px;
  margin: 0;
  color: #525252;
}

.handle {
  font-size: 16px;
  margin: 0;
}
