// .header {
//   display: flex;
//   align-items: center;
//   height: 7vh;
//   padding: 0 3vh;
//   justify-content: flex-start;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   background-color: white;
//   z-index: 1000;
// }

.header {
  display: flex;
  align-items: center;
  height: 7vh;
  padding: 0 3vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
}

.logo {
  position: absolute; /* 절대 위치 설정 */
  left: 50%; /* 화면의 중앙으로 이동 */
  transform: translateX(-50%); /* 중앙 정렬을 위한 변환 */
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-left: auto; /* 오른쪽으로 밀기 */
}

.header.darkBackground {
  background: linear-gradient(to right, #525252, #3d72b4);
}

.logo img {
  max-height: 7vh !important;
  padding: 0.5vh 0 0 0;
  height: auto !important;
  width: auto !important;
}

// .buttonContainer {
//   display: flex;
//   gap: 10px;
//   margin-left: auto;
// }

.convertButton {
  background-color: transparent;
  color: #525252;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.headerButton {
  flex: 1;
  min-width: 60px;
  padding: 5px 5px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background-color: #4c4c4c;
    color: white;
  }
}

.whiteButton {
  color: white;
  background-color: transparent;
}

.blackButton {
  background-color: black;
  color: white;
}
