.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  padding: 0 3vh;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.convertButton {
  background-color: transparent;
  color: #575757;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.headerButton {
  flex: 1;
  min-width: 60px;
  padding: 5px 5px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background-color: #4c4c4c;
    color: white;
  }
}
