.introSection {
  padding-top: 7vh; // 헤더 높이 만큼
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #525252, #3d72b4);
  // background: linear-gradient(to right, #556270, #ff6b6b);
}

.mainTitle {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.subTitle {
  font-size: 23px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
